# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Build Outputs
coverage/
dist/
build/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Database / Local storage
*.db
*.sqlite3
*.sqlite

# Environment variables
.env
.env.local

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
